<div class="info-container">
  <div class="info">
    <i class="fa fa-refresh fa-spin"></i><br>
    Recherche de votre position
  </div>
</div>

<div id="map" style="width: 100%; height:100%;"></div>
<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      var foundPosition = true;
      handler = Gmaps.build('Google');
      GeoMarker = new GeolocationMarker();
      GeoMarker.setCircleOptions({fillColor: '#808080'});

      handler.buildMap({ provider: {disableDefaultUI: true}, internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        if (!foundPosition) {
          handler.fitMapToBounds();
        }
      });

      google.maps.event.addListenerOnce(GeoMarker, 'position_changed', function() {
          handler.getMap().setCenter(this.getPosition());
          handler.getMap().fitBounds(this.getBounds());
          setTimeout(function() {
            handler.getMap().setZoom(15);
            $('.info-container').fadeOut();
          }, 100);
        });

      google.maps.event.addListenerOnce(GeoMarker, 'geolocation_error', function() {
        foundPosition = false;
        $('.info-container').fadeOut();
      });

      GeoMarker.setMap(handler.getMap());

    })
  </script>
<% end %>