<div class="container">
  <div class="row centered">
    <div class="col-xs-12 col-md-6 col-md-offset-3 mb-100">
      <%= simple_form_for(@perk, url: perk_path) do |f| %>
        <%= f.button :submit, value: "Bénificiez de ce bon plan", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>