<div id="wrapper">
  <div class="container-fluid">
    <div class="row text-center">
      <h1>Perks</h1>
    </div>
      <div class="row"s>
          <div class="col-xs-10 col-xs-offset-1 perk-card">
            <% @perks.each do |perk| %>
              <%= link_to perk_path(perk), target: '_blank' do %>
                  <div class="row relative" id="perk-image">
                    <%= image_tag "Perk1.jpg" %>
                    <div class="row perk-business-name">
                        <p class="mt-5"><%= perk.business.name.upcase %></p>
                    <div class="row perk-title">
                        <p><%= perk.title.upcase %></p>
                    </div>
                  </div>
                </div>
              <%end%>
            <%end%>
        </div>
  </div>
</div>