<div class="col-xs-12 col-sm-12 col-md-12 text-center">
  <% @perks.each do |perk| %>
  <p><%= perk.title.first(20) %></p>
  <p><%= perk.business.name %></p>
  <p><%= perk.business.city %></p>
  <%end%>
</div>
