.perk-card {
  height: 100px;
  border-radius: 2px;
  color: black;
  opacity: 0.8;
  &:hover{
    transition: all 0.2s ease;
    opacity: 1;
    transform: scale(1.01);
    }
}

.perk-title {
  position: absolute;
  top: 75px;
  left: 0;
  height: 20px;
  width: 100%;
  padding-left: 15px;
  background: rgba(0, 190, 255, 0.8);
  color: white;
}

.perk-business-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(240, 240, 240);
}

#perk-image img {
  height: 100px;
  width: 100%;
}

h1 {
  margin: 0;
}

#bottom-padded {
  padding-bottom: 70px
}