<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Welcome to CFORGOOD</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item"><%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path %></a>
    <a class="sidebar-nav-item"><%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></a>
    <a class="sidebar-nav-item"><%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>
      <%= t ".sign_out", default: "Sign out" %>
    <% end %></a>
    <a class="sidebar-nav-item">Download</a>
    <a class="sidebar-nav-item">Download</a>
    <a class="sidebar-nav-item">Download</a>
    <a class="sidebar-nav-item">Download</a>
    <a class="sidebar-nav-item">Download</a>

    <span class="sidebar-nav-item">Moins important</span>
  </nav>

  <div class="sidebar-item">
    <p>
      © CFORFGOOD
    </p>
  </div>
</div>
