

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome!</h1>
      <h2>Découvrez les derniers bons plans</h2> -->
<div id="wrapper">
  <div class="container-fluid">
    <div class="row text-center">
      <h1>Home</h1>
      <h4>Découvrez les bons plans à l'affiche</h4>
    </div>
    <!--  -->
    </div>
  </div>
</div>
