

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome!</h1>
      <h2>Découvrez les derniers bons plans</h2> -->
<div id="wrapper">
  <div class="container-fluid">
    <div class="row text-center">
      <h1>Perks</h1>

    </div>
  </div>
</div>
