<div class="container">
  <div class="row text-center" id="partner">
    <h2>Devenez Partenaire</h2>
    <h3>Vous êtes un commerçant responsable ?</h3>
    <p>Inscrivez vous, c'est <strong>gratuit</strong> ! </br>
      Dès notre confirmation, votre commerce et ses bons plans seront visibles
      auprès de toute la communauté ! </p>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="btn btn-danger f-size13 a-white">
        <%= link_to "Ajouter Mon Commerce", new_business_path %>
      </div>
    </div>
    <div class="row mt-30">
    </br>
      <h3>Vous êtes un consommateur responsable ?</h3>
      <p>Cette initiative vous parle et vous souhaiteriez y participer ? Devenez <strong>Ambassadeur</strong> !</br>
        Rejoignez le groupe qui rassemble qui rassemble toute la communauté </p>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="btn btn-success f-size13 a-white">
          <%= link_to "Devenir Ambassadeur", new_business_path %>
        </div>
      </div>
    </div>
  </div>
</div>
