/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

.container {
  position: relative;
}

.wrap {
  background: white;
}

// tchret : hauteur toujours au max pour être mobile friendly
.wrap, html, body {
  height: 100%;
}

.btn {
  border-radius: 10px;
  margin-bottom: 5px;
  width: 100%;
}

.inline {
  display: inline
}

.margin-O {
  margin: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-5 {
  padding-left: 5px;
}

.relative {
  position: relative;
}

.margin_top40 {
  margin-top: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}

.f-size13 {
  font-size: 13px;
}

.a-white a {
  color: white;
}