// Your footer style
.footer {
  background: rgb(144, 238, 223);
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;

  img {
    height: 35px;
    width: 40px;
    margin: auto;
    display: block;
  }

  ul {
    height: 60px;
    margin-top: 5px;

    li {
      height: 100%;
      margin-left: 10px;
      padding-right: 10px;
      margin-top: 5px;

      p {
        font-size: 11px;
         color: rgb(90, 147, 138);
         text-align: center;
      }
    }
  }
}
