.nav-bar {
  background: white;
  position: relative;
  height: 60px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.navbar-logo img {
  max-width: 150px;
  margin-left: 85px;
  padding-top: 6px;
  margin-bottom: 0px;
}

.img-width-100 {
  img {
      width: 100%;
      margin: 0px;
  }
}
